!!! 5
html(lang="en")
	head
		block page-title
			title= mainTitle
		block styles
			link(rel="stylesheet/less", type="text/css", href="/static/css/base.less")
		script(type="application/javascript", src="/static/lib/less-1.3.0.min.js")
		script(type="application/javascript", src="/static/lib/jquery-1.6.4.min.js")
		block scripts
		//include google-analytics
	body
		#beta-bar(style="background-color: red; color: white; font-size: 20px; text-align: center; padding: 4px;")
			strong BETA VERSION - UNDER ACTIVE CONSTRUCTION
			p(style="font-size: 12px;")
				a(href="https://github.com/usgin/metadata-repository/issues", style="color: white;") Issue Tracker	
		#header.clear-block
			ul#sub-navigation.horiz-list
				li#contact-link
					a.orange-link(href="/repository/contact/") Contact
				if user.is_authenticated
					li#profile-link
						a.orange-link(href="/accounts/profile/") My Account
					li#logout-link
						a.orange-link(href="/accounts/logout/") Logout
				else
					li#login-link
						a.orange-link(href="/accounts/login/?next=/repository/") Login
					li#register-link
						a.orange-link(href="/accounts/register/") Register
			#title-banner.clear-block
				#site-logo
					a(href="/repository/")
						img#logo-image(src= mainLogo, alt="Home")
				#site-titles
					h1#site-title= mainTitle
					#site-subtitle= mainSubTitle
		#navigation
			ul#nav-menu.clear-block
				li#home-link
					a(href="/repository/") Home
				li#browse-link
					a(href="/repository/browse/") Browse Collections				
				li#search-link
					a(href="/repository/search/") Find Resources				
				block extra-navigation
				if user.is_authenticated
					li#new-resource-link
						a(href="/repository/resource/new") Create a New Resource
					li#new-harvest-link
						a(href="/repository/harvest/") Harvest Remote Metadata
		#content.clear-block(itemscope, itemtype="http://schema.org/CreativeWork")		
			#sidebar
				block site-info-sidebar
					#site-info-block
						h2#site-info-title.block-title Site Information
						#site-info-content.block-content
							ul#site-info-menu.menu
								li#site-info-about
									a(href="/repository/about/") About this Repository
								li#site-info-terms
									a(href="/repository/terms/") Terms of Use
								li#site-info-metadata
									a(href="/repository/on-metadata/") About Metadata
				block sidebar-content							
			#page-content
				block page-content
		#footer
			#footer-content
				a(href="http://usgin.org") U.S. Geoscience Information Network
				|  |
				span © 
				a(href= copyrightOwnerUrl) #{copyrightOwner} #{copyrightYear}
				|  |
				a(href="/repository/terms/") Terms of Use
				|  | 
				a(href="/repository/contact/") Contact
				|  |
				a(href="/repository/sitemap.xml") XML Sitemap
					
		
		